<div class="jumbotron">
  <h2 class="display-3">Follow CodeForgeYT on social media!</h2>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-4">
         <a href="https://www.youtube.com/channel/UCKMbmdtX15faa0ADwT35EyA?sub_confirmation=1">
              <div class="youtube">
                  <i class="fab fa-youtube fa-7x youtube"></i>
              </div>
              <h3>YouTube</h3>
         </a>
      </div>
      <div class="col-md-4">
         <a href="https://www.facebook.com/codeforgeyt/">
              <div class="facebook">
                  <i class="fab fa-facebook fa-7x facebook"></i>
              </div>
              <h3>Facebook</h3>
         </a>
      </div>
      <div class="col-md-4">
         <a href="https://twitter.com/codeforgeyt">
              <div class="twitter">
                  <i class="fab fa-twitter fa-7x twitter"></i>
              </div>
              <h3>Twitter</h3>
         </a>
      </div>
  </div>
</div>
